{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h2>
Gestion des roles
</h2>
<div>
<a class="nav-link" href="{{path('admincontrol_utilisateur')}}">ADMINISTRATION</a>

</div>

{% endblock %}
