{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}


<div class="example-wrapper">
   <h2> le chat est en cours de construction <br> Veuillez patienter un tout petit peu!!!!</h2>

</div>
{% endblock %}
